@model IEnumerable<Service>
<div class="col-lg-3">
    @foreach (Service service in Model.Take(2))
    {
        <div class="box-icon s2 p-small mb20 wow fadeInRight" data-wow-delay=".5s">
            @Html.Raw(service.Icon)
            <div class="d-inner">
                <h4>@service.Title</h4>
                @(service.Description.Length > 50 ? service.Description.Substring(0, 50) + "..." : service.Description)
            </div>
        </div>
    }
</div>
<div class="col-lg-6">
    <img src="~/assets/images/misc/car.png" alt="" class="img-fluid wow fadeInUp">
</div>
<div class="col-lg-3">
    @foreach (Service service in Model.Skip(2).Take(2))
    {
        <div class="box-icon s2 d-invert p-small mb20 wow fadeInL fadeInLeft" data-wow-delay="1s">
            @Html.Raw(service.Icon)
            <div class="d-inner">
                <h4>@service.Title</h4>
                @((service.Description.Length > 50) ? service.Description.Substring(0, 50) + "..." : service.Description)
            </div>
        </div>
    }
</div>