@model NewsVM
<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="~/assets/images/background/subheader.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>@Model.news.Title</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->
    <!-- section begin -->
    <section aria-label="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-read">

                        <img alt="" src="~/assets/images/news/@Model.news.ImageUrl" class="img-fullwidth mb30">

                        <div class="post-text">
                            <p>@Model.news.Content</p>

                        </div>
                        @if (Model.news.NewsTags.Count > 0)
                        {
                            if (Model.news.NewsTags.Count == 1)
                            {
                                foreach (NewsTag tag in Model.news.NewsTags)
                                {
                                    <p> Tag: @tag.Tag.Name</p>
                                }
                            }
                            else
                            {
                                <p>Tags:</p>
                                    @foreach (NewsTag tag in Model.news.NewsTags)
                                    {
                                        <a>@tag.Tag.Name</a>
                                    }
                            }
                        }

                        <h6>By @Model.news.CreatedBy, @Model.news.CreatedAt.ToString("dd MMMM yyyy")</h6>
                    </div>

                    <div class="spacer-single"></div>

                    <div id="blog-comment">
                        <h4>Comments (5)</h4>

                        <div class="spacer-half"></div>

                        <ol>
                            <li>
                                <div class="avatar">
                                    <img src="~/assets/images/misc/avatar-2.jpg" alt="">
                                </div>
                                <div class="comment-info">
                                    <span class="c_name">Merrill Rayos</span>
                                    <span class="c_date id-color">15 January 2020</span>
                                    <span class="c_reply"><a href="#">Reply</a></span>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="comment">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</div>
                                <ol>
                                    <li>
                                        <div class="avatar">
                                            <img src="~/assets/images/misc/avatar-2.jpg" alt="">
                                        </div>
                                        <div class="comment-info">
                                            <span class="c_name">Jackqueline Sprang</span>
                                            <span class="c_date id-color">15 January 2020</span>
                                            <span class="c_reply"><a href="#">Reply</a></span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="comment">
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                            explicabo.
                                        </div>
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <div class="avatar">
                                    <img src="~/assets/images/misc/avatar-2.jpg" alt="">
                                </div>
                                <div class="comment-info">
                                    <span class="c_name">Sanford Crowley</span>
                                    <span class="c_date id-color">15 January 2020</span>
                                    <span class="c_reply"><a href="#">Reply</a></span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="comment">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</div>
                                <ol>
                                    <li>
                                        <div class="avatar">
                                            <img src="~/assets/images/misc/avatar-2.jpg" alt="">
                                        </div>
                                        <div class="comment-info">
                                            <span class="c_name">Lyndon Pocekay</span>
                                            <span class="c_date id-color">15 January 2020</span>
                                            <span class="c_reply"><a href="#">Reply</a></span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="comment">
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                            explicabo.
                                        </div>
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <div class="avatar">
                                    <img src="~/assets/images/misc/avatar-2.jpg" alt="">
                                </div>
                                <div class="comment-info">
                                    <span class="c_name">Aleen Crigger</span>
                                    <span class="c_date id-color">15 January 2020</span>
                                    <span class="c_reply"><a href="#">Reply</a></span>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="comment">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</div>
                            </li>
                        </ol>

                        <div class="spacer-single"></div>

                        <div id="comment-form-wrapper">
                            <h4>Leave a Comment</h4>
                            <div class="comment_form_holder">
                                <form id="contact_form" name="form1" class="form-border" method="post" action="#">

                                    <label>Name</label>
                                    <input type="text" name="name" id="name" class="form-control" />

                                    <label>Email <span class="req">*</span></label>
                                    <input type="text" name="email" id="email" class="form-control" />
                                    <div id="error_email" class="error">Please check your email</div>

                                    <label>Message <span class="req">*</span></label>
                                    <textarea cols="10" rows="10" name="message" id="message" class="form-control"></textarea>
                                    <div id="error_message" class="error">Please check your message</div>
                                    <div id="mail_success" class="success">Thank you. Your message has been sent.</div>
                                    <div id="mail_failed" class="error">Error, email not sent</div>

                                    <p id="btnsubmit">
                                        <input type="submit" id="send" value="Send" class="btn-main" />
                                    </p>



                                </form>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="sidebar" class="col-md-4">
                    <div class="widget">
                        <h4>Share With Friends</h4>
                        <div class="small-border"></div>
                        <div class="de-color-icons">
                            <span><i class="fa fa-twitter fa-lg"></i></span>
                            <span><i class="fa fa-facebook fa-lg"></i></span>
                            <span><i class="fa fa-reddit fa-lg"></i></span>
                            <span><i class="fa fa-linkedin fa-lg"></i></span>
                            <span><i class="fa fa-pinterest fa-lg"></i></span>
                            <span><i class="fa fa-stumbleupon fa-lg"></i></span>
                            <span><i class="fa fa-delicious fa-lg"></i></span>
                            <span><i class="fa fa-envelope fa-lg"></i></span>
                        </div>
                    </div>

                    <div class="widget widget-post">
                        <h4>Recent Posts</h4>
                        <div class="small-border"></div>
                        <ul class="de-bloglist-type-1">
                            @foreach (News news in Model.News.Where(n => n.Id != Model.news.Id).OrderByDescending(n => n.CreatedAt).Take(4))
                            {
                                <li>
                                    <div class="d-image">
                                        <img src="~/assets/images/news/@news.ImageUrl" alt="">
                                    </div>
                                    <div class="d-content">
                                        <a asp-controller="news" asp-action="details" asp-route-id="@news.Id"><h4>@news.Title</h4></a>
                                        <div class="d-date">@news.CreatedAt.ToString("MMMM d yyyy")</div>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>

                    <div class="widget widget-text">
                        <h4>About Us</h4>
                        <div class="small-border"></div>
                        <p class="small no-bottom">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                        </p>
                    </div>
                    <div class="widget widget_tags">
                        <h4>Tags</h4>
                        <div class="small-border"></div>
                        <ul>
                            @foreach (Tag tag in Model.Tags)
                            {
                                <li><a href="#link">@tag.Name</a></li>
                            }

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
<!-- content close -->