@model NewsVM
<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="~/assets/images/background/subheader.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>@Model.news.Title</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->
    <!-- section begin -->
    <section aria-label="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-read">

                        <img alt="" src="~/assets/images/news/@Model.news.ImageUrl" class="img-fullwidth mb30">

                        <div class="post-text">
                            <p>@Model.news.Content</p>

                        </div>
                        @if (Model.news.NewsTags.Count > 0)
                        {
                            if (Model.news.NewsTags.Count == 1)
                            {
                                foreach (NewsTag tag in Model.news.NewsTags)
                                {
                                    <p> Tag: @tag.Tag.Name</p>
                                }
                            }
                            else
                            {
                                <p>Tags:</p>
                                @foreach (NewsTag tag in Model.news.NewsTags)
                                {
                                    <a>@tag.Tag.Name</a>
                                }
                            }
                        }

                        <h6>By @Model.news.CreatedBy, @Model.news.CreatedAt.ToString("dd MMMM yyyy")</h6>
                    </div>

                    <div class="spacer-single"></div>

                    <div id="blog-comment">
                        @if (Model.news.Comments.Count > 0)
                        {
                            <h4>Comments (@Model.news.Comments.Count)</h4>
                            <div class="spacer-half"></div>

                            <ol>
                                @foreach(Comment comment in Model.news.Comments)
                                {
                                    <li>
                                        <div class="avatar">
                                            <img src="~/assets/images/misc/avatar-2.jpg" alt="">
                                        </div>
                                        <div class="comment-info">
                                            <span class="c_name">@comment.Name @comment.Surname</span>
                                            <span class="c_date id-color">@comment.CreatedAt.ToString("dd MMMM yyyy")</span>
                                           
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="comment">@comment.Message</div>
                                    </li>
                                }
                                
                            </ol>
                        }
                        else
                        {
                            <p>There is no comment</p>
                        }


                        <div class="spacer-single"></div>

                        <div id="comment-form-wrapper">
                            <h4>Leave a Comment</h4>
                            <div class="comment_form_holder">
                                <form class="form-border" method="post">

                                    <label asp-for="commentVM.Name">Name</label>
                                    <input asp-for="commentVM.Name" class="form-control" />
                                    <span class="text-danger" asp-validation-for="commentVM.Name"></span>

                                    <label asp-for="commentVM.Surname">Surname</label>
                                    <input asp-for="commentVM.Surname" class="form-control" />
                                    <span class="text-danger" asp-validation-for="commentVM.Surname"></span>

                                    <label asp-for="commentVM.Email">Email <span class="req">*</span></label>
                                    <input asp-for="commentVM.Email" class="form-control" />
                                    <span class="text-danger" asp-validation-for="commentVM.Email"></span>

                                    <label asp-for="commentVM.Message">Message <span class=" req">*</span></label>
                                    <textarea cols="10" rows="10" asp-for="commentVM.Message" class=" form-control"></textarea>
                                    <span class="text-danger" asp-validation-for="commentVM.Message"></span>

                                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                    <button type="submit" class="btn-main">Send</button>



                                </form>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="sidebar" class="col-md-4">
                    <div class="widget">
                        <h4>Share With Friends</h4>
                        <div class="small-border"></div>
                        <div class="de-color-icons">
                            <span><i class="fa fa-twitter fa-lg"></i></span>
                            <span><i class="fa fa-facebook fa-lg"></i></span>
                            <span><i class="fa fa-reddit fa-lg"></i></span>
                            <span><i class="fa fa-linkedin fa-lg"></i></span>
                            <span><i class="fa fa-pinterest fa-lg"></i></span>
                            <span><i class="fa fa-stumbleupon fa-lg"></i></span>
                            <span><i class="fa fa-delicious fa-lg"></i></span>
                            <span><i class="fa fa-envelope fa-lg"></i></span>
                        </div>
                    </div>

                    <div class="widget widget-post">
                        <h4>Recent Posts</h4>
                        <div class="small-border"></div>
                        <ul class="de-bloglist-type-1">
                            @foreach (News news in Model.News.Where(n => n.Id != Model.news.Id).OrderByDescending(n => n.CreatedAt).Take(4))
                            {
                                <li>
                                    <div class="d-image">
                                        <img src="~/assets/images/news/@news.ImageUrl" alt="">
                                    </div>
                                    <div class="d-content">
                                        <a asp-controller="news" asp-action="details" asp-route-id="@news.Id"><h4>@news.Title</h4></a>
                                        <div class="d-date">@news.CreatedAt.ToString("MMMM d yyyy")</div>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>

                    <div class="widget widget-text">
                        <h4>About Us</h4>
                        <div class="small-border"></div>
                        <p class="small no-bottom">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                        </p>
                    </div>
                    <div class="widget widget_tags">
                        <h4>Tags</h4>
                        <div class="small-border"></div>
                        <ul>
                            @foreach (Tag tag in Model.Tags)
                            {
                                <li><a href="#link">@tag.Name</a></li>
                            }

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
<!-- content close -->