@model NewsVM
<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="~/assets/images/background/subheader.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>News &amp; Updates</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <section id="section-hero" aria-label="section">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-8">
                    <div class="row">

                        @foreach (News news in Model.News)
                        {
                            <div class="col-lg-6 mb20">
                                <div class="bloglist s2 item">
                                    <div class="post-content">
                                        <div class="post-image">
                                            <div class="date-box">
                                                <div class="m">@news.CreatedAt.Day</div>
                                                <div class="d">@news.CreatedAt.ToString("MMMM").Substring(0,3).ToUpper()</div>
                                            </div>
                                            <img alt="" src="~/assets/images/news/@news.ImageUrl" class="lazy">
                                        </div>
                                        <div class="post-text">
                                            <h4><a href="news-single.html">@news.Title<span></span></a></h4>
                                            <p>@(news.Content.Length > 80 ? news.Content.Substring(0, 80) + "..." : news.Content)</p>
                                            <a class="btn-main" asp-controller="news" asp-action="details" asp-route-id="@news.Id">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }



                        <div class="spacer-single"></div>

                        <div class="col-md-12">
                            <ul class="pagination">
                                @for (int i = 1; i <= ViewBag.TotalPage; i++)
                                {
                                    <li class="@((i==ViewBag.CurrentPage)?"active":"")">
                                        <a asp-route-page="@i">@i</a>
                                    </li>
                                }
                                
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="widget widget-post">
                        <h4>Recent Posts</h4>
                        <div class="small-border"></div>
                        <ul class="de-bloglist-type-1">
                            @foreach (News news in Model.NewsForPosts.OrderByDescending(n => n.CreatedAt).Take(4))
                            {
                                <li>
                                    <div class="d-image">
                                        <img src="~/assets/images/news/@news.ImageUrl" alt="">
                                    </div>
                                    <div class="d-content">
                                        <a asp-controller="news" asp-action="details" asp-route-id="@news.Id"><h4>@news.Title</h4></a>
                                        <div class="d-date">@news.CreatedAt.ToString("MMMM d yyyy")</div>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>

                    <div class="widget widget_tags">
                        <h4>Popular Tags</h4>
                        <div class="small-border"></div>
                        <ul>
                            @foreach (Tag tag in Model.Tags)
                            {
                                <li><a href="#link">@tag.Name</a></li>
                            }

                        </ul>
                    </div>

                    <div class="widget">
                        <h4>Testimonials</h4>
                        <div class="small-border"></div>
                        <div class="owl-carousel owl-theme" id="testimonial-carousel-1-col">
                            <div class="item">
                                <div class="de_testi type-2">
                                    <blockquote>
                                        <h4>Excellent Service!</h4>
                                        <p>
                                            Great support, like i have never seen before. Thanks to the support team, they are very helpfull. This company provide customers great solution, that makes them best.
                                        </p>
                                        <div class="de_testi_by">
                                            <img alt="" class="rounded-circle" src="~/assets/images/people/1.jpg"> <span>John, Pixar Studio</span>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="de_testi type-2">
                                    <blockquote>
                                        <h4>Excellent Service!</h4>
                                        <p>Great support, like i have never seen before. Thanks to the support team, they are very helpfull. This company provide customers great solution, that makes them best.</p>
                                        <div class="de_testi_by">
                                            <img alt="" class="rounded-circle" src="~/assets/images/people/2.jpg"> <span>Sarah, Microsoft</span>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="de_testi type-2">
                                    <blockquote>
                                        <h4>Excellent Service!</h4>
                                        <p>Great support, like i have never seen before. Thanks to the support team, they are very helpfull. This company provide customers great solution, that makes them best.</p>
                                        <div class="de_testi_by">
                                            <img alt="" class="rounded-circle" src="~/assets/images/people/3.jpg"> <span>Michael, Apple</span>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="de_testi type-2">
                                    <blockquote>
                                        <h4>Excellent Service!</h4>
                                        <p>Great support, like i have never seen before. Thanks to the support team, they are very helpfull. This company provide customers great solution, that makes them best.</p>
                                        <div class="de_testi_by">
                                            <img alt="" class="rounded-circle" src="~/assets/images/people/4.jpg"> <span>Thomas, Samsung</span>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="de_testi type-2">
                                    <blockquote>
                                        <h4>Excellent Service!</h4>
                                        <p>Great support, like i have never seen before. Thanks to the support team, they are very helpfull. This company provide customers great solution, that makes them best.</p>
                                        <div class="de_testi_by">
                                            <img alt="" class="rounded-circle" src="~/assets/images/people/1.jpg"> <span>John, Pixar Studio</span>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="de_testi type-2">
                                    <blockquote>
                                        <h4>Excellent Service!</h4>
                                        <p>Great support, like i have never seen before. Thanks to the support team, they are very helpfull. This company provide customers great solution, that makes them best.</p>
                                        <div class="de_testi_by">
                                            <img alt="" class="rounded-circle" src="~/assets/images/people/2.jpg"> <span>Sarah, Microsoft</span>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="de_testi type-2">
                                    <blockquote>
                                        <h4>Excellent Service!</h4>
                                        <p>Great support, like i have never seen before. Thanks to the support team, they are very helpfull. This company provide customers great solution, that makes them best.</p>
                                        <div class="de_testi_by">
                                            <img alt="" class="rounded-circle" src="~/assets/images/people/3.jpg"> <span>Michael, Apple</span>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="de_testi type-2">
                                    <blockquote>
                                        <h4>Excellent Service!</h4>
                                        <p>Great support, like i have never seen before. Thanks to the support team, they are very helpfull. This company provide customers great solution, that makes them best.</p>
                                        <div class="de_testi_by">
                                            <img alt="" class="rounded-circle" src="~/assets/images/people/4.jpg"> <span>Thomas, Samsung</span>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
<!-- content close -->
