@model CarsVM
<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="~/assets/images/background/2.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Cars</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <section id="section-cars">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="item_filter_group">
                        <h4>Vehicle Type</h4>
                        <div class="de_form">
                            @foreach (Category category in Model.Categories)
                            {
                                <div class="de_checkbox">
                                    <a asp-controller="home" asp-action="cars" asp-route-categoryName="@category.Name">

                                        @category.Name
                                    </a>
                                </div>
                            }



                        </div>
                    </div>

                    <div class="item_filter_group">
                        <h4>Car Body Type</h4>
                        <div class="de_form">
                            @foreach (BodyType bodyType in Model.BodyTypes)
                            {
                                <div class="de_checkbox">
                                    <a asp-controller="home" asp-action="cars" asp-route-bodyTypeName="@bodyType.Name">

                                        @bodyType.Name
                                    </a>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="item_filter_group">
                        <h4>Car Seats</h4>
                        <div class="de_form">
                            <div class="de_checkbox">
                                <a asp-controller="home" asp-action="cars" asp-route-seats="2">
                                    2 seats
                                </a>
                            </div>

                            <div class="de_checkbox">
                                <a asp-controller="home" asp-action="cars" asp-route-seats="4">
                                    4 seats
                                </a>
                            </div>

                            <div class="de_checkbox">
                                <a asp-controller="home" asp-action="cars" asp-route-seats="">
                                    6 seats
                                </a>
                            </div>

                            <div class="de_checkbox">
                                <input id="car_seat_4" name="car_seat_4" type="checkbox" value="car_seat_4">
                                <label for="car_seat_4">6+ seats</label>
                            </div>

                        </div>
                    </div>

                    <div class="item_filter_group">
                        <h4>Car Engine Capacity (cc)</h4>
                        <div class="de_form">
                            <div class="de_checkbox">
                                <input id="car_engine_1" name="car_engine_1" type="checkbox" value="car_engine_1">
                                <label for="car_engine_1">1000 - 2000</label>
                            </div>

                            <div class="de_checkbox">
                                <input id="car_engine_2" name="car_engine_2" type="checkbox" value="car_engine_2">
                                <label for="car_engine_2">2000 - 4000</label>
                            </div>

                            <div class="de_checkbox">
                                <input id="car_engine_3" name="car_engine_3" type="checkbox" value="car_engine_3">
                                <label for="car_engine_3">4000 - 6000</label>
                            </div>

                            <div class="de_checkbox">
                                <input id="car_engine_4" name="car_engine_4" type="checkbox" value="car_engine_4">
                                <label for="car_engine_4">6000+</label>
                            </div>

                        </div>
                    </div>

                    <div class="item_filter_group">
                        <h4>Price ($)</h4>
                        <div class="price-input">
                            <div class="field">
                                <span>Min</span>
                                <input type="number" class="input-min" value="0">
                            </div>
                            <div class="field">
                                <span>Max</span>
                                <input type="number" class="input-max" value="2000">
                            </div>
                        </div>
                        <div class="slider">
                            <div class="progress"></div>
                        </div>
                        <div class="range-input">
                            <input type="range" class="range-min" min="0" max="2000" value="0" step="1">
                            <input type="range" class="range-max" min="0" max="2000" value="2000" step="1">
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="row">

                        @foreach (Car car in Model.Cars)
                        {
                            <div class="col-xl-4 col-lg-6">
                                <div class="de-item mb30">
                                    <div class="d-img">
                                        <img style="width:279px;height:157px;object-fit:cover;" src="~/assets/images/cars/@car.CarImages.FirstOrDefault(ci=>ci.IsMain==true).ImageUrl" class="img-fluid" alt="">
                                    </div>
                                    <div class="d-info">
                                        <div class="d-text">
                                            <h4>@car.Marka.Name Renegade</h4>
                                            <div class="d-item_like">
                                                <a asp-controller="favorite" asp-action="addfavorite" asp-route-id="@car.Id"><i class="fa fa-heart"></i></a><span>@car.Like</span>
                                            </div>
                                            <div class="d-atr-group">
                                                <span class="d-atr"><img src="~/assets/images/icons/1.svg" alt="">@car.Seats</span>
                                                <span class="d-atr"><img src="~/assets/images/icons/2.svg" alt="">@car.Luggage</span>
                                                <span class="d-atr"><img src="~/assets/images/icons/3.svg" alt="">@car.Doors</span>
                                                <span class="d-atr"><img src="~/assets/images/icons/4.svg" alt="">@car.BodyType.Name</span>
                                            </div>
                                            <div class="d-price">
                                                Daily rate from <span>$@String.Format("{0:#,##0}", car.RentPrice)</span>
                                                <a class="btn-main" asp-controller="rent" asp-action="details" asp-route-id="@car.Id">Rent Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }





                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
<!-- content close -->
