@using RentalyProject.Models;
@using RentalyProject.Services;
@using RentalyProject.ViewModels;
@inject LayoutService service;
@model HomeVM
@{
    var settings = await service.GetSettingsAsync();
    int count = 0;
}
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <section id="section-hero" aria-label="section" class="jarallax">
        <img src="~/assets/images/background/1.jpg" class="jarallax-img" alt="">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 text-light">
                    <div class="spacer-double"></div>
                    <div class="spacer-double"></div>
                    <h1 class="mb-2">Looking for a <span class="id-color">vehicle</span>? You're at the right place.</h1>
                    <div class="spacer-single"></div>
                </div>

                <div class="col-lg-12">
                    <div class="spacer-single sm-hide"></div>
                    <div class="p-4 rounded-3 shadow-soft" data-bgcolor="#ffffff">


                        <form name="contactForm" id='contact_form' method="post">
                            <div id="step-1" class="row">
                                <div class="col-lg-6 mb30">
                                    <h5>What is your vehicle type?</h5>

                                    <div class="de_form de_radio row g-3">
                                        <div class="radio-img col-lg-3 col-sm-3 col-6">
                                            <input id="radio-1a" name="Car_Type" type="radio" value="Residential" checked="checked">
                                            <label for="radio-1a"><img src="~/assets/images/select-form/car.png" alt="">Car</label>
                                        </div>

                                        <div class="radio-img col-lg-3 col-sm-3 col-6">
                                            <input id="radio-1b" name="Car_Type" type="radio" value="Office">
                                            <label for="radio-1b"><img src="~/assets/images/select-form/van.png" alt="">Van</label>
                                        </div>

                                        <div class="radio-img col-lg-3 col-sm-3 col-6">
                                            <input id="radio-1c" name="Car_Type" type="radio" value="Commercial">
                                            <label for="radio-1c"><img src="~/assets/images/select-form/minibus.png" alt="">Minibus</label>
                                        </div>

                                        <div class="radio-img col-lg-3 col-sm-3 col-6">
                                            <input id="radio-1d" name="Car_Type" type="radio" value="Retail">
                                            <label for="radio-1d"><img src="~/assets/images/select-form/sportscar.png" alt="">Prestige</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-6 mb20">
                                            <h5>Pick Up Location</h5>
                                            <input type="text" name="PickupLocation" onfocus="geolocate()" placeholder="Enter your pickup location" id="autocomplete" autocomplete="off" class="form-control">

                                            <div class="jls-address-preview jls-address-preview--hidden">
                                                <div class="jls-address-preview__header">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 mb20">
                                            <h5>Drop Off Location</h5>
                                            <input type="text" name="DropoffLocation" onfocus="geolocate()" placeholder="Enter your dropoff location" id="autocomplete2" autocomplete="off" class="form-control">

                                            <div class="jls-address-preview jls-address-preview--hidden">
                                                <div class="jls-address-preview__header">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 mb20">
                                            <h5>Pick Up Date & Time</h5>
                                            <div class="date-time-field">
                                                <input type="text" id="date-picker" name="Pick Up Date" value="">
                                                <select name="Pick Up Time" id="pickup-time">
                                                    <option selected disabled value="Select time">Time</option>
                                                    <option value="00:00">00:00</option>
                                                    <option value="00:30">00:30</option>
                                                    <option value="01:00">01:00</option>
                                                    <option value="01:30">01:30</option>
                                                    <option value="02:00">02:00</option>
                                                    <option value="02:30">02:30</option>
                                                    <option value="03:00">03:00</option>
                                                    <option value="03:30">03:30</option>
                                                    <option value="04:00">04:00</option>
                                                    <option value="04:30">04:30</option>
                                                    <option value="05:00">05:00</option>
                                                    <option value="05:30">05:30</option>
                                                    <option value="06:00">06:00</option>
                                                    <option value="06:30">06:30</option>
                                                    <option value="07:00">07:00</option>
                                                    <option value="07:30">07:30</option>
                                                    <option value="08:00">08:00</option>
                                                    <option value="08:30">08:30</option>
                                                    <option value="09:00">09:00</option>
                                                    <option value="09:30">09:30</option>
                                                    <option value="10:00">10:00</option>
                                                    <option value="10:30">10:30</option>
                                                    <option value="11:00">11:00</option>
                                                    <option value="11:30">11:30</option>
                                                    <option value="12:00">12:00</option>
                                                    <option value="12:30">12:30</option>
                                                    <option value="13:00">13:00</option>
                                                    <option value="13:30">13:30</option>
                                                    <option value="14:00">14:00</option>
                                                    <option value="14:30">14:30</option>
                                                    <option value="15:00">15:00</option>
                                                    <option value="15:30">15:30</option>
                                                    <option value="16:00">16:00</option>
                                                    <option value="16:30">16:30</option>
                                                    <option value="17:00">17:00</option>
                                                    <option value="17:30">17:30</option>
                                                    <option value="18:00">18:00</option>
                                                    <option value="18:30">18:30</option>
                                                    <option value="19:00">19:00</option>
                                                    <option value="19:30">19:30</option>
                                                    <option value="20:00">20:00</option>
                                                    <option value="20:30">20:30</option>
                                                    <option value="21:00">21:00</option>
                                                    <option value="21:30">21:30</option>
                                                    <option value="22:00">22:00</option>
                                                    <option value="22:30">22:30</option>
                                                    <option value="23:00">23:00</option>
                                                    <option value="23:30">23:30</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 mb20">
                                            <h5>Return Date & Time</h5>
                                            <div class="date-time-field">
                                                <input type="text" id="date-picker-2" name="Collection Date" value="">
                                                <select name="Collection Time" id="collection-time">
                                                    <option selected disabled value="Select time">Time</option>
                                                    <option value="00:00">00:00</option>
                                                    <option value="00:30">00:30</option>
                                                    <option value="01:00">01:00</option>
                                                    <option value="01:30">01:30</option>
                                                    <option value="02:00">02:00</option>
                                                    <option value="02:30">02:30</option>
                                                    <option value="03:00">03:00</option>
                                                    <option value="03:30">03:30</option>
                                                    <option value="04:00">04:00</option>
                                                    <option value="04:30">04:30</option>
                                                    <option value="05:00">05:00</option>
                                                    <option value="05:30">05:30</option>
                                                    <option value="06:00">06:00</option>
                                                    <option value="06:30">06:30</option>
                                                    <option value="07:00">07:00</option>
                                                    <option value="07:30">07:30</option>
                                                    <option value="08:00">08:00</option>
                                                    <option value="08:30">08:30</option>
                                                    <option value="09:00">09:00</option>
                                                    <option value="09:30">09:30</option>
                                                    <option value="10:00">10:00</option>
                                                    <option value="10:30">10:30</option>
                                                    <option value="11:00">11:00</option>
                                                    <option value="11:30">11:30</option>
                                                    <option value="12:00">12:00</option>
                                                    <option value="12:30">12:30</option>
                                                    <option value="13:00">13:00</option>
                                                    <option value="13:30">13:30</option>
                                                    <option value="14:00">14:00</option>
                                                    <option value="14:30">14:30</option>
                                                    <option value="15:00">15:00</option>
                                                    <option value="15:30">15:30</option>
                                                    <option value="16:00">16:00</option>
                                                    <option value="16:30">16:30</option>
                                                    <option value="17:00">17:00</option>
                                                    <option value="17:30">17:30</option>
                                                    <option value="18:00">18:00</option>
                                                    <option value="18:30">18:30</option>
                                                    <option value="19:00">19:00</option>
                                                    <option value="19:30">19:30</option>
                                                    <option value="20:00">20:00</option>
                                                    <option value="20:30">20:30</option>
                                                    <option value="21:00">21:00</option>
                                                    <option value="21:30">21:30</option>
                                                    <option value="22:00">22:00</option>
                                                    <option value="22:30">22:30</option>
                                                    <option value="23:00">23:00</option>
                                                    <option value="23:30">23:30</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <a asp-controller="home" asp-action="cars" class="btn-main pull-right">Find a Vehicle</a>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>

                <div class="spacer-double"></div>

                <div class="row">
                    <div class="col-lg-12 text-light">
                        <div class="container-timeline">
                            <ul>
                                <li>
                                    <h4>Choose a vehicle</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                                </li>
                                <li>
                                    <h4>Pick location &amp; date</h4>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</p>
                                </li>
                                <li>
                                    <h4>Make a booking</h4>
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                </li>
                                <li>
                                    <h4>Sit back &amp; relax</h4>
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section aria-label="section" class="pt40 pb40 text-light" data-bgcolor="#111111">
        <div class="wow fadeInRight d-flex">
            <div class="de-marquee-list">
                <div class="d-item">
                    @foreach (BodyType type in Model.BodyTypes)
                    {
                        <span class="d-item-txt">@type.Name</span>
                        <span class="d-item-display">
                            <i class="d-item-dot"></i>
                        </span>
                    }

                </div>
            </div>

            <div class="de-marquee-list">
                <div class="d-item">
                    @foreach (BodyType type in Model.BodyTypes)
                    {
                        <span class="d-item-txt">@type.Name</span>
                        <span class="d-item-display">
                            <i class="d-item-dot"></i>
                        </span>
                    }

                </div>
            </div>
        </div>
    </section>

    <section aria-label="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <h2>Our Features</h2>
                    <p>Dolor esse sint officia est voluptate et qui deserunt et est eiusmod cillum mollit sunt nulla cillum sit ut culpa ullamco.</p>
                    <div class="spacer-20"></div>
                </div>
                <div class="clearfix"></div>
                @await Component.InvokeAsync("Service")
            </div>
        </div>
    </section>

    @await Component.InvokeAsync("DynamicSection")

    <section id="section-cars">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <h2>Our Vehicle Fleet</h2>
                    <p>Sit labore et officia eiusmod tempor officia eiusmod dolor exercitation nulla dolore ut id velit et ut anim.</p>
                    <div class="spacer-20"></div>
                </div>

                <div id="items-carousel" class="owl-carousel wow fadeIn">
                    @foreach (Car car in Model.Cars)
                    {
                        <div class="col-lg-12">
                            <div class="de-item mb30">
                                <div class="d-img">
                                    <img style="height:217px;width:387px;object-fit:cover" src="~/assets/images/cars/@car.CarImages.FirstOrDefault(c=>c.IsMain==true).ImageUrl" class="img-fluid" alt="">
                                </div>
                                <div class="d-info">
                                    <div class="d-text">
                                        <h4>@car.Model.Marka.Name @car.Model.Name </h4>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            if (!(Model.UserFavorites is null))
                                            {
                                                bool result = false;
                                                foreach (FavoriteCar favoriteCar in Model.UserFavorites)
                                                {
                                                    if (favoriteCar.CarId == car.Id)
                                                    {
                                                        result = true;
                                                        <div class="d-item_like">
                                                            <a asp-controller="favorite" asp-action="AddFavorite" asp-route-id="@car.Id" class="add-favorite"><i class="fa fa-heart active"></i></a><span>@car.Like</span>
                                                        </div>
                                                    }
                                                }
                                                if (!result)
                                                {
                                                    <div class="d-item_like">
                                                        <a asp-controller="favorite" asp-action="AddFavorite" asp-route-id="@car.Id" class="add-favorite"><i class="fa fa-heart"></i></a><span>@car.Like</span>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="d-item_like">
                                                    <a asp-controller="favorite" asp-action="AddFavorite" asp-route-id="@car.Id" class="add-favorite"><i class="fa fa-heart"></i></a><span>@car.Like</span>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="d-item_like">
                                                <a asp-controller="favorite" asp-action="AddFavorite" asp-route-id="@car.Id" class="add-favorite"><i class="fa fa-heart"></i></a><span>@car.Like</span>
                                            </div>
                                        }

                                        <div class="d-atr-group">
                                            <span class="d-atr"><img src="~/assets/images/icons/1.svg" alt="">@car.Seats</span>
                                            <span class="d-atr"><img src="~/assets/images/icons/2.svg" alt="">@car.Luggage</span>
                                            <span class="d-atr"><img src="~/assets/images/icons/3.svg" alt="">@car.Doors</span>
                                            <span class="d-atr"><img src="~/assets/images/icons/4.svg" alt="">@car.BodyType.Name</span>
                                        </div>
                                        <div class="d-price">
                                            Daily rate from <span>$@String.Format("{0:#,##0}", car.RentPrice)</span>
                                            <a class="btn-main" asp-controller="rent" asp-action="details" asp-route-id="@car.Id">Rent Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }




                </div>

            </div>
        </div>
    </section>

    <section class="text-light jarallax" aria-label="section">
        <img src="~/assets/images/background/3.jpg" alt="" class="jarallax-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h1>Let's Your Adventure Begin</h1>
                    <div class="spacer-20"></div>
                </div>
                @foreach (Service service in Model.Services.Take(3))
                {
                    <div class="col-md-3">
                        @Html.Raw(service.Icon)
                        <h4>@service.Title</h4>
                        <p>@(service.Description.Length > 50 ? service.Description.Substring(0, 50) + "..." : service.Description)</p>
                    </div>
                }

            </div>
        </div>
    </section>

    <section id="section-news">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <h2>Latest News</h2>
                    <p>Sit labore et officia eiusmod tempor officia eiusmod dolor exercitation nulla dolore ut id velit et ut anim.</p>
                    <div class="spacer-20"></div>
                </div>

                @foreach(News news in Model.News.OrderByDescending(n=>n.CreatedAt).Take(3))
                {
                    <div class="col-lg-4 mb10">
                        <div class="bloglist s2 item">
                            <div class="post-content">
                                <div class="post-image">
                                    <div class="date-box">
                                        <div class="m">@news.CreatedAt.Day</div>
                                        <div class="d">@news.CreatedAt.ToString("MMMM").Substring(0,3).ToUpper()</div>
                                    </div>
                                    <img alt="" src="~/assets/images/news/@news.ImageUrl" class="lazy">
                                </div>
                                <div class="post-text">
                                    <h4><a asp-controller="news" asp-action="details" asp-route-id="@news.Id">@news.Title<span></span></a></h4>
                                    <p>@(news.Content.Length>80?news.Content.Substring(0,80)+"...":news.Content)</p>
                                    <a class="btn-main" asp-controller="news" asp-action="details" asp-route-id="@news.Id">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                
            </div>
        </div>
    </section>

    <section id="section-testimonials" class="no-top no-bottom">
        <div class="container-fluid">
            <div class="row g-0 align-items-center">

                @foreach(Blog blog in Model.Blogs.Take(3))
                {
                    <div class="col-md-4">
                        <div class="de-image-text">
                            <div class="d-text">
                                <div class="d-quote id-color"><i class="fa fa-quote-right"></i></div>
                                <h4>@blog.Title</h4>
                                <blockquote>
                                     @blog.Description
                                    <span class="by">@blog.Name @blog.Surname</span>
                                </blockquote>
                            </div>
                            <img src="~/assets/images/testimonial/@blog.ImageUrl" class="img-fluid" alt="">
                        </div>
                    </div>
                }


            </div>
        </div>
    </section>

    <section id="section-faq">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2>Have Any Questions?</h2>
                    <div class="spacer-20"></div>
                </div>
            </div>
            <div class="row g-custom-x">
                <div class="col-md-6 wow fadeInUp">
                    <div class="accordion secondary">
                        <div class="accordion-section">
                            @foreach(Faq faq in Model.Faqs.Take(3))
                            {
                                count++;
                                <div class="accordion-section-title" data-tab="#accordion-@count">
                                    @faq.Question
                                </div>
                                <div class="accordion-section-content" id="accordion-@count">
                                    <p>@faq.Answer</p>
                                </div>
                            }

                        </div>
                    </div>
                </div>

                <div class="col-md-6 wow fadeInUp">
                    <div class="accordion secondary">
                        <div class="accordion-section">
                            @foreach(Faq faq in Model.Faqs.Skip(3).Take(3))
                            {
                                count++;
                                <div class="accordion-section-title" data-tab="#accordion-b-@count">
                                    @faq.Question
                                </div>
                                <div class="accordion-section-content" id="accordion-b-@count">
                                    <p>@faq.Answer</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-call-to-action" class="bg-color-2 pt60 pb60 text-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-1">
                    <h2 class="s2">Call us for further information. Rentaly customer care is here to help you anytime.</h2>
                </div>

                <div class="col-lg-5 text-lg-center text-sm-center">
                    <div class="phone-num-big">
                        <i class="fa fa-phone"></i>
                        <span class="pnb-text">
                            Call Us Now
                        </span>
                        <span class="pnb-num">
                            @settings["Phone"]
                        </span>
                    </div>
                    <a href="#" class="btn-main">Contact Us</a>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- content close -->
<a href="#" id="back-to-top"></a>




<script>
    let btns = document.querySelectorAll(".add-favorite")
    btns.forEach(b=>{
        b.addEventListener("click",function(e){
            e.preventDefault()
            $.ajax({
                type: "GET",
                url:this.href
            }).done(data=>console.log(data))
        })
    })
</script>