@using RentalyProject.Services;
@inject LayoutService service;
@{
    var settings = await service.GetSettingsAsync();
}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Rentaly - Multipurpose Vehicle Car Rental Website</title>
    <link rel="icon" href="~/assets/images/icon.png" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Rentaly - Multipurpose Vehicle Car Rental Website Template" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <!-- CSS Files
    ================================================== -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="~/assets/css/mdb.min.css" rel="stylesheet" type="text/css" id="mdb">
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/coloring.css" rel="stylesheet" type="text/css">
    <!-- color scheme -->
    <link id="colors" href="~/assets/css/colors/scheme-01.css" rel="stylesheet" type="text/css">
</head>

<body onload="initialize()">
    <div id="wrapper">

        <!-- page preloader begin -->
        <div id="de-preloader"></div>
        <!-- page preloader close -->
        <!-- header begin -->
        <header class="transparent scroll-light has-topbar">
            <div id="topbar" class="topbar-dark text-light">
                <div class="container">
                    <div class="topbar-left xs-hide">
                        <div class="topbar-widget">
                            <div class="topbar-widget"><a href="#"><i class="fa fa-phone"></i>@settings["Phone"]</a></div>
                            <div class="topbar-widget"><a href="#"><i class="fa fa-envelope"></i>@settings["Email"]</a></div>
                            <div class="topbar-widget"><a href="#"><i class="fa fa-clock-o"></i>@settings["WorkHours"]</a></div>
                        </div>
                    </div>

                    <div class="topbar-right">
                        <div class="social-icons">
                            <a href="@settings["Facebook"]"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="@settings["Twitter"]"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="@settings["Youtube"]"><i class="fa fa-youtube fa-lg"></i></a>
                            <a href="@settings["Pinterest"]"><i class="fa fa-pinterest fa-lg"></i></a>
                            <a href="@settings["Instagram"]"><i class="fa fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        <a href="index.html">
                                            <img class="logo-1" src="~/assets/images/@settings["Logo-light"]" alt="">
                                            <img class="logo-2" src="~/assets/images/@settings["Logo"]" alt="">
                                        </a>
                                    </div>
                                    <!-- logo close -->
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <ul id="mainmenu">
                                    <li>
                                        <a class="menu-item" asp-controller="home" asp-action="index">Home</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" asp-controller="home" asp-action="cars">Cars</a>
                                        
                                    </li>
                                    <li><a class="menu-item" href="booking.html">Booking</a></li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li>
                                            <a class="menu-item" href="cars.html">@User.Identity.Name</a>
                                            <ul>
                                                <li><a class="menu-item" href="account-dashboard.html">Dashboard</a></li>
                                                <li><a class="menu-item" href="account-profile.html">My Profile</a></li>
                                                <li><a class="menu-item" href="account-booking.html">My Orders</a></li>
                                                <li><a class="menu-item" asp-controller="home" asp-action="favorite">My Favorite Cars</a></li>
                                            </ul>
                                        </li>
                                    }
                                    <li>
                                        <a class="menu-item" href="#">Pages</a>
                                        <ul>
                                            <li><a class="menu-item" href="about.html">About Us</a></li>
                                            <li><a class="menu-item" href="contact.html">Contact</a></li>
                                            <li><a class="menu-item" href="login.html">Login</a></li>
                                            <li><a class="menu-item" href="register.html">Register</a></li>
                                            <li><a class="menu-item" href="404.html">Page 404</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="#">News</a>
                                        <ul>
                                            <li>
                                                <a class="menu-item" href="news-standart-right-sidebar.html">News Standard</a>
                                                <ul>
                                                    <li><a class="menu-item" href="news-standart-right-sidebar.html">Right Sidebar</a></li>
                                                    <li><a class="menu-item" href="news-standart-left-sidebar.html">Left Sidebar</a></li>
                                                    <li><a class="menu-item" href="news-standart-no-sidebar.html">No Sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="menu-item" href="news-grid-right-sidebar.html">News Grid</a>
                                                <ul>
                                                    <li><a class="menu-item" href="news-grid-right-sidebar.html">Right Sidebar</a></li>
                                                    <li><a class="menu-item" href="news-grid-left-sidebar.html">Left Sidebar</a></li>
                                                    <li><a class="menu-item" href="news-grid-no-sidebar.html">No Sidebar</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="#">Elements</a>
                                        <ul>
                                            <li><a class="menu-item" href="icon-boxes.html">Icon Boxes</a></li>
                                            <li><a class="menu-item" href="badge.html">Badge</a></li>
                                            <li><a class="menu-item" href="counters.html">Counters</a></li>
                                            <li><a class="menu-item" href="gallery-popup.html">Gallery Popup</a></li>
                                            <li><a class="menu-item" href="icons-elegant.html">Icons Elegant</a></li>
                                            <li><a class="menu-item" href="icons-etline.html">Icons Etline</a></li>
                                            <li><a class="menu-item" href="icons-font-awesome.html">Icons Font Awesome</a></li>
                                            <li><a class="menu-item" href="map.html">Map</a></li>
                                            <li><a class="menu-item" href="modal.html">Modal</a></li>
                                            <li><a class="menu-item" href="popover.html">Popover</a></li>
                                            <li><a class="menu-item" href="tabs.html">Tabs</a></li>
                                            <li><a class="menu-item" href="tooltips.html">Tooltips</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="de-flex-col">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (User.IsInRole("Admin"))
                                    {
                                        <div class="menu_side_area">
                                            <a asp-area="RentalyAdmin" asp-controller="home" asp-action="index" class="btn-main">Admin Panel</a>
                                            <span id="menu-btn"></span>
                                        </div>
                                        <div class="menu_side_area">
                                            <a asp-controller="account" asp-action="Logout" asp-route-returnUrl="@Context.Request.Path.Value" class="btn-main">Sign out</a>
                                            <span id="menu-btn"></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="menu_side_area">
                                            <a asp-controller="account" asp-action="Logout" asp-route-returnUrl="@Context.Request.Path.Value" class="btn-main">Sign out</a>
                                            <span id="menu-btn"></span>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="menu_side_area">
                                        <a asp-controller="account" asp-action="Register" asp-route-returnUrl="@Context.Request.Path.Value" class="btn-main">Register</a>
                                        <a asp-controller="account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path.Value" class="btn-main">Login</a>
                                        <span id="menu-btn"></span>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
        @RenderBody()
        <!-- footer begin -->
        <footer class="text-light">
            <div class="container">
                <div class="row g-custom-x">
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5>About Rentaly</h5>
                            <p>In tempor magna non ut labore sunt et in adipisicing do in proident veniam officia deserunt mollit velit aliquip sint fugiat reprehenderit sint anim pariatur deserunt id in ut non.</p>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="widget">
                            <h5>Contact Info</h5>
                            <address class="s1">
                                <span><i class="id-color fa fa-map-marker fa-lg"></i>@settings["Address"]</span>
                                <span><i class="id-color fa fa-phone fa-lg"></i>@settings["Phone"]</span>
                                <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:contact@example.com">@settings["Email"]</a></span>
                                <span><i class="id-color fa fa-file-pdf-o fa-lg"></i><a href="#">Download Brochure</a></span>
                            </address>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <h5>Quick Links</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="widget">
                                    <ul>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">Partners</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="widget">
                            <h5>Social Network</h5>
                            <div class="social-icons">
                                <a href="@settings["Facebook"]"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="@settings["Twitter"]"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="@settings["Linkedin"]"><i class="fa fa-linkedin fa-lg"></i></a>
                                <a href="@settings["Pinterest"]"><i class="fa fa-pinterest fa-lg"></i></a>
                                <a href="@settings["RSS"]"><i class="fa fa-rss fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="de-flex">
                                <div class="de-flex-col">
                                    <a href="index.html">
                                        Copyright 2023 - Rentaly by Designesia
                                    </a>
                                </div>
                                <ul class="menu-simple">
                                    <li><a href="#">Terms &amp; Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->
    </div>

    <!-- Javascript Files
    ================================================== -->
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/designesia.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=insert_your_api_key_here&amp;libraries=places&amp;callback=initPlaces" async="" defer=""></script>

</body>

</html>
